<ion-card>
  <ion-card-header>
    <ion-card-title>Результат</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-grid>
      <ion-row *ngFor="let row of matrix.matrix">
        <ion-col *ngFor="let item of row">{{ item }}</ion-col>
      </ion-row>
    </ion-grid>
    <ion-button shape="round" fill="outline" (click)="count(matrix)"
      >Знайти пари</ion-button
    >
    <ion-item>
      <ion-label>
        <h3>Кількість пар: {{ n }}</h3>
      </ion-label>
    </ion-item>
  </ion-card-content>
</ion-card>
